<h2>Certificates expiring in the next 30 days</h2>

<ul>
<li>Number of certificates expirying <b><%= @certifications.count %></b> </li>
<li>Report Date: <b><%=Time.now %></b> </li>
</ul>

		<table class="table table-striped">
			<tr><th>Person</th> <th>State</th>	<th>Cert Name</th><th>Expiry Date</th><th>Attain Date</th></tr>
			<% @certifications.each do |cert|	%>
				<tr>
					<td><%= cert.person.last_name%> <%= cert.person.first_name%> </td>
				  <td><%= cert.person.state.name%>	</td>
				  <td><%= cert.classification.name %></td>
					<td><%= cert.expiry_date %>	</td>
					<td><%= cert.attain_date %>	</td>
				</tr>
			<% end %>
		</table>